@layer base {
  /* for body, content, text */
  body {
    @apply scroll-smooth;
  }
}

/* @layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
    margin: 0 auto;
  }
} */

@layer components {
  .cta {
    @apply bg-gradient-to-r from-[#8a2be2] hover:opacity-80 transition-opacity duration-300 to-[#00D4FF];
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#8a2be2] to-[#00D4FF];
  }
}
