/* @layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
    margin: 0 auto;
  }
} */

@layer base {
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply overflow-y-hidden;
  }
  html {
    @apply scroll-smooth;
  }

  section {
    scroll-snap-align: start;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
