/* @layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
    margin: 0 auto;
  }
} */

@layer base {
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply overflow-hidden;
  }
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  /* for smooth-scrollbar js plugin */
  .scrollbar-track,
  .scrollbar-thumb {
    display: none !important;
  }
}

@keyframes shimmer-hard {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(110%);
  }
}

.shimmer-strong {
  @apply size-full relative overlow-hidden bg-red-200
  /* background: var(--background); */;
}

.shimmer-strong::after {
  content: '';
  position: absolute;
  inset: 0;
  /* ➡️ gradient mampiasa foreground var */
  background: linear-gradient(
    90deg,
    color-mix(in srgb, var(--foreground) 0%, transparent 0%) 0%,
    color-mix(in srgb, var(--foreground) 80%, transparent 0%) 45%,
    color-mix(in srgb, var(--foreground) 60%, transparent 0%) 55%,
    color-mix(in srgb, var(--foreground) 0%, transparent 0%) 100%
  );
  transform: translateX(-110%);
  animation: shimmer-hard 1.1s cubic-bezier(0.2, 0.8, 0.2, 1) infinite;
  mix-blend-mode: screen;
  pointer-events: none;
}
